<!DOCTYPE html>
<html>
  <head>
    <title>Mapmyjog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>">
    </script>
    <meta property="og:title" content="MapMyJog" />
    <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
    <meta property="og:description"
      content="A fitness app inpired by MapMyRun."
    />
    <meta property="og:url"
      content="https://tg-mapmyjog.herokuapp.com/"
    />
    <script src="https://kit.fontawesome.com/572001cbb3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
